<section style="background-color: #33393f; color: white;">
  <div class="container">
    <div>
      <h1 class="display-4 mt-3" style="text-align: center;">
        Contact
      </h1>
      <hr class="" style="width: 250px; border: 0.5px solid grey;" />
    </div>
    <p class="contact-paragraph">
      Wandering where can you find me? You can find me in these places!😃
    </p>
    <div class="row">
      <div class="pb-5 col-md-6">
        <p class="font-weight-bold">Social Media</p>
        <img
          src="assets/img/instagram-sketched-1.png"
          (click)="handleRedirect('https://www.instagram.com/r2rendon/')"
          class="social"
        />
        <img
          src="assets/img/linkedin.png"
          (click)="
            handleRedirect(
              'https://www.linkedin.com/in/arturo-rendon-753baa195/'
            )
          "
          class="social"
        />
        <img
          src="assets/img/github-image.png"
          (click)="handleRedirect('https://github.com/r2rendon')"
          class="social"
        />
      </div>
      <div class="pb-5 col-md-6">
        <p>
          <img src="assets/img/mail-512.png" alt="" /> : r2rendon79@gmail.com
        </p>
        <p><img src="assets/img/phone-1.png" alt="" /> : +504 9902-1360</p>
      </div>
    </div>
  </div>
</section>
