<div
  class="main-card-container"
  style="
    background-image: url('https://i.ibb.co/z2TdMmL/CardBckg.jpg');
    height: 43em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="cardHeader">
    <img src="assets/img/me.JPG" class="avatar shadow-lg" alt="Avatar" />
    <h1 class="display-2">
      Junior Web Developer
    </h1>
    <p class="font-weight-bold">
      I'm a Honduran 🇭🇳 Web Developer who loves creating modern and awesome
      websites. Take a look at what I've done!
    </p>
  </div>
</div>

<ProjectCards></ProjectCards>
